<div class="d">
    <h2>Avinya Description<br></h2>
     <h3 class="w">The Empower Program is a tailor made, innovative framework that has been designed specifically for students from underserved communities. The main objective of the program, as the name suggests, is to Empower students to become confident, accountable citizens in the society and stand out in the competitive job market.</h3>
   
   
   </div>
   
      
   <div class="o">
     <img src="assets/Avinya.jpg" alt="My Image"width="350px"height="320px">
     <img src="assets/Avinya123.jpg" alt="My Image"width="470px"height="320px">
     <img src="assets/p2.png" alt="My Image"width="350px"height="320px">
   </div>

