
.d{
  width: 600px;
  height: 350px;
  background-color: aquamarine;
  border-radius: 20px;
  margin-left: 300px;

}
.h{
  width: 100%;
  height: 50px;
  background-color: aqua;
  border-radius: 20px;
  

}
.q{
  margin-left: 370px;
}
.w{
  align-content: center;
}

.o{
  border: groove 1em crimson ;
  width: 100%;
  height: 350px;
}
