<h1>Hello Dhanuja Welcome Profile page</h1>
<div class="j">
    <h2>IT Description</h2>
    <h3 class="k">Our students thrive in an educational experience that goes beyond the limitations of traditional methods such as subjects, fixed schedules, and regular exams. That’s why we embrace the power of project-based learning, creating an environment that inspires and motivates students to explore knowledge and develop essential life skills vital for their future success.</h3>
</div>

<img src="assets/sre.png" alt="My Image"width="350px"height="320px">
